/* Footer.css */

.footer {
    background-color: #e4cfcf70; 
    margin-top: 20px;
  }
  
.footer a{
    color: rgb(61, 79, 185);
text-decoration: none;
cursor: pointer;
}
.footer a:hover{
    transform: scale(5);
}
  .container {
    width: 2000px; 
    margin: 0 auto; 
  }
  
  .row {
    display: contents;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .col-md-6,
  .col-lg-3,
  .col-sm-6 {
    flex: 2 0 auto;
    padding: 0px;
    gap: 100px;
    color: #000000;
  }

  
  .footer-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ff1111;
  }
  
  .footer-list {
    list-style: none;
    padding: 0;
  }
  
  .footer-item {
    margin-bottom: 5px;
  }
  
  .footer-link {
    color: #333;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  .footer-link:hover {
    color: #000;
  }
  
  .telNo {
    margin-bottom: 5px;
  }
  
  .copyRights {
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;

  }
  
  .social-media {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .social-media a {
    color: #000000;
    font-size: 20px;
    transition: color 0.2s ease-in-out;
  }
  
  .social-media a:hover {
    color: #000;
  }
  