.navbar-full{

  width: 100000px;
  z-index: 10000;
  
}
.navbar {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 1rem;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 1.0rem;
    text-decoration: none;
    font-weight: bold; /* Add font weight for a bolder logo */
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 1rem;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none; /* Remove underline from links */
    padding: 0.5rem 0.5rem; /* Add padding for better spacing */
    transition: all 0.3s ease-in-out; /* Add smooth hover effect */
  }
  
  .nav-links:hover {
    background-color: #333; /* Change hover background color */
    cursor: pointer; /* Add cursor pointer on hover */
  }

  .nav-links svg {
    width: 1.8rem; /* Adjust width as needed */
    height: 2rem; /* Adjust height as needed */
    margin-right: 0.5rem; /* Add margin between icon and text */
  }

  .gif-container {
    background-image: url('C:\\Users\\patel\\OneDrive - Infocusp Innovations\\Desktop\\Basic React app\\basic-react-app\\src\\Components\\starx-s20000-smart-touch-screen-20ml-disposable-rechargeable-with-hd-full-screen-pencil-image-dektop-wholesale.gif'); /* Replace with your URL */
    background-size: cover; /* Stretch the image to cover the container */
    margin-top: 0px;
    width: auto; /* Set width */
    height: 68px; /* Set height */
  }

  