  .image-container {
    display: flex; 
  }
  
  .image-wrapper {
    margin-top: 15px;
    margin-bottom: 20px;
    flex: 1; 
    border: 2px solid black; 
    border-radius: 8px; 
    margin-right: 10px; 
    overflow: hidden; 
  }
  
  .image-wrapper img {
    width: 100%; /* Ensure images fill their containers */
    height: auto; /* Maintain aspect ratio */
    transition: transform 2.0s ease; /* Smooth transition for sliding effect */
  }
  
  /* Display only the image with current index */
  .image-wrapper img:nth-child(n + 1):nth-child(-n + 1) { 
    display: block;
  }
  
  .image-wrapper-1 {
    /* CSS styles for the first image wrapper */
    height: 500px; /* Set constant height for images */
    width: 200px;
    margin-left: 5px;
  }
  
  .image-wrapper-2 {
    /* CSS styles for the second image wrapper */
    height: auto; /* Allow height to adjust based on content */
  }
  